:root{
    --primary-white:#fff;
    --primary-black: #000;
    --primary-dark: rgba(255,255,255,0);
 }
  
 .slick-container {
    width: 100%;
    height: 323px;
    margin: 2% 2%;
    padding: 10px 30px;
 }
  
 .slick-slide {
    height: 320px;
    box-sizing: content-box;
 }
  
 .slick-slide img {
    width: 100%;
    box-sizing: content-box;
    align-self: auto;
    padding: 5px;
    overflow: hidden;
    transition: 0.3s;
    object-fit: cover;
 }
  
 .navbar-brand{
    font-weight: 600;
    height: 3.4rem;
    text-align: start;
 }
 nav a.nav-link{
    font-size: .8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
 }
  
 nav ul li{
    text-transform: uppercase;
 }
 .navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-bottom: 0.0875rem solid var(--primary-dark);
 }
 .navbar-nav > li > a.active, .navbar-nav > li > a.active:foucus {
    background-color: var(--primary-white);
    color: var(--primary-black);
 }
 .navbar-nav > li > a:hover{
    border-bottom: 0.1875rem solid var(--primary-white);
 }
  
 .footer{
    background-color: var(--primary-black);
    color: var(--primary-white);
 }
  
 .codeLabLayout-container{
    flex-grow: 1;
    position: relative;
 }
 .codeLabLayout-row{
    margin: -12xp;;
 }
  
 .codeLabLayout-row-col-scroll{
    height: 1000px;
    box-sizing: border-box;
 }
  
 .codeLabLayout-row > .codeLabLayout-row-col-scroll{
    padding: 12px;
    overflow-y:scroll;
    max-width: 100%;
 }
  
 .codeLabLayout-iframe{
   padding: 12px;
   max-width: 100%;
   overflow: hidden;
 }
 .flex {
    display: flex;
 }

 .flex-between {
    justify-content: space-between;
    margin-top: 1em;
 }
  
 .lesson-nav-buttons {
    display:flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 700;
 }
  
 .modal-learn {
    margin-left:auto;
    padding:1rem;
 }
 .modal-buttons {
    width: 60%;
 }

 .mute-btn {
    margin-left: auto;
    outline: none;
    border:initial;
    z-index: 10;
    background-color: initial;
    display: block;
    position: absolute;
    top: 120px;
    right:20px;
 }
  
 .modal-btn {
    border: var(--primary-black) 3px solid;
    background: var(--primary-white);
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    line-height: 1.4;
    font-size: 1.5rem;
    cursor: pointer;
    position:relative;
    z-index:1;
    margin: auto 0;
    display:block;
 }
  
 .modal-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: -webkit-transform 200ms ease-in;
    transition: transform 200ms ease-in;
    transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
 }
  
 .modal-btn:hover::after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
 }

 .play-btn {
     margin-left: auto;
     cursor: pointer;
     display: block;
     background: var(--primary-black)!important;
     color:var(--primary-white)!important;
     border-radius: 0.6rem;
     padding:0.4em 0.8em; 
 }

 .modal-overlay {
     position: fixed;
     top:0;
     left:0;
     z-index:1;
     height:100vh;
     width:100vw;
     background-color: rgba(0, 0, 0, 0.7);
 }

 .sound-modal {
     position: relative;
     padding: 2em 4em;
     background: var(--primary-black);
     color: var(--primary-white);
     font-size: 1.5rem;
     line-height: 1.5;
     top: 5em;
     max-width: 50%;
     margin: 0 auto;
     vertical-align: middle;
     overflow-y: auto;
     border-radius: 0.3rem;
 }

 .sticky-note {
   position: fixed;
   z-index: 999;
   top:0;
   left:20px;
   background-color: rgb(0,215,114);
   width: 50%;
   padding: 0.6rem 0.8rem;
 }

 .icons {
     background: initial;
     border:initial;
     outline: none;  
 }

 .icon-x , .icon-x-note{
   position: absolute;
   top: 5px;
   right: 5px;
   color: var(--primary-white);
   font-size: 2rem;
 }

 .icon-x-note {
    top: -5px;
    right: -5px;
    font-size: 1.3rem;
 }

 .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    width: 200px;
    z-index: 2;
    position: fixed;
    left: 42.5%;
    top: 40%;
 }
 
 .chat-window {
   width: 200px;
   height: 200px;
   background-color: #add8e6;
   margin-bottom: 10px;
 }

 .question {
   height: 20%;
 }

 .answer {
   height: 20%;
 }

 button.submit {
   width: 75px;
   margin-bottom: 5%;
 }

 input.chat {
    width: 75px;
 }

 @media(max-width:1300px){
    .sound-modal {
       max-width: 65%;    
    }
}
 @media(max-width:1000px){
    .sound-modal {
       max-width: 70%;    
    } 
   .modal-buttons {
      width: 80%;
     }
   }

     @media(max-width:850px){
   .sound-modal {
      font-size: 1rem;
      top: 1rem;
      max-width: 80%;
      
   }
   .modal-btn {
      font-size: 1rem;
   }
 }
 @media(max-width:768px){
  
    h1 {
        font-size: 3rem !important;
    }
    h2{
        font-size: 2rem !important;
    }
    h3 {
        font-size: 1.5rem !important;
    }
    h4 {
        font-size: 1.3rem !important;
    }
    .contentContainer h1{
        font-size: 1.7rem  !important;
    }
   }

   @media(max-width: 500px) {
      .modal-buttons {
         width: 75%;
      }
      .sound-modal {
         max-width: 90%;
      }
      
   }
   @media(max-width: 400px) {
      .modal-buttons {
         width: 100%;
      }
      
      .mute-btn {
         top:140px;
      }
   }
   
   @media (min-width: 600px){
      .navbarbrand{
      width: calc(100% / 4);
      }
   }